.tab-handle-container {
    margin-top: 8px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-handle-image {
    width: 41px;
	height: 8px;
	object-fit: contain;
	border-radius: 3px;
	/* background-color: #d8d8d8; */
}

/* .tab-handle-container:hover {
    opacity: 0.3;
}

.tab-handle-container:focus {
    opacity: 0.3;
}

.tab-handle-container:active {
    opacity: 0.1;
} */
