.nearby-carousel-container {
  position: relative;
  height: 60px;
  /* max-width: 960px; */
  margin: 0 auto;
  overflow: hidden;
  touch-action: pan-y;
}

.nearby-carousel-track {
  margin-top: 8px;
  margin-left: 10px;
  display: flex;
  height: 100%;
}

.nearby-carousel-card {
  margin: 10px;
  flex: 0 0 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
}

.nearby-carousel-card-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 40px;
  /* border-radius: 5px; */
}

.nearby-carousel-image-container {

}

.nearby-carousel-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nearby-carousel-title {
  margin-left: 10px;
  font-family: 'EngraversGothicBold';
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 1.8px;
}

/* .nearby-carousel-text {
  padding: 1em;
  font-size: 14px;
  white-space: pre-wrap;
  text-align: left;
  font-family: sans-serif;
} */


.nearby-container {
    margin-top: 20px;
}

.nearby-header {
    font-family: 'EngraversGothicBT', sans-serif;
    /* font-weight: 300; */
    margin-left: 20px;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 1.8px;
    padding-top: 10px;
}