@font-face {
  font-family: 'EngraversGothicBold';
  src: local('EngraversGothicBold'), url(./assets/fonts/EngraversGothicBold.otf) format('opentype');
}

@font-face {
  font-family: 'EngraversGothicBT';
  src: local('EngraversGothicBT'), url(./assets/fonts/EngraversGothicBT.otf) format('opentype');
}

@font-face {
  font-family: 'SFDisplay';
  src: local('SanFranciscoDisplay-Regular'), url(./assets/fonts/SanFranciscoDisplay-Regular.otf) format('opentype');
}



body {
  margin: 0;
  padding: 0;
  font-family: 
  'SFDisplay',
  -apple-system,            /* Safari on MacOS X and iOS */
  BlinkMacSystemFont,       /* Chrome on MacOS X */

  /*English First*/
  "Helvetica Neue",         /* Old OSX Capitan */
  "Segoe UI",               /* Windows and Windows Phone */
  "Roboto",                 /* Android and newer Chrome OS */
  "Oxygen",                 /* Linux KDE Desktop */
  "Ubuntu",                 /* Linux Ubuntu System */
  "Cantarell",              /* Linux GNOME Desktop */
  "Fira Sans",              /* Firefox OS */
  "Droid Sans",             /* Android */

  /*Chinese Fallback*/
  "PingFang SC",            /* OSX ^10.11 & iOS ^9  苹方丽黑 */
  "Hiragino Sans GB",       /* OSX ^10.6            冬青黑体 */
  "STHeiti",                /* OSX <10.6  & iOS <9  华文黑体 */
  "Microsoft YaHei",        /* Win                  微软雅黑 */
  "Microsoft JhengHei",     /* Win                  微软正黑 */
  "Source Han Sans SC",     /* Android 5.0^         思源黑体 */
  "Noto Sans CJK SC",       /* Android 5.0^         思源黑体 */
  "Source Han Sans CN",     /* Android 5.0^         思源黑体 */
  "Noto Sans SC",           /* Android 5.0^         思源黑体 */
  "Source Han Sans TC",     /* Android 5.0^         思源黑体 */
  "Noto Sans CJK TC",       /* Android 5.0^         思源黑体 */
  "WenQuanYi Micro Hei",    /* Linux             文泉驿微米黑 */
  SimSun,                   /* Win old              中易宋体 */
  sans-serif;               /* System Fallback              */
  
  font-size: 15px;
  line-height: 20px;
  color: '#575757';
  font-weight: 400;

  position: fixed;
  height: 100vh; width: 100vw;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
  /* height: 100vh;
  position: absolute; */
}


/* Remove default link font color */
a {
  color: inherit;
}
