.cities-carousel-container {
  position: relative;
  height: 150px;
  /* max-width: 960px; */
  margin: 0 auto;
  overflow: hidden;
  touch-action: pan-y;
}

.cities-carousel-track {
  margin-top: 8px;
  margin-left: 10px;
  display: flex;
  height: 100%;
}

.cities-carousel-card {
  margin: 5px;
  margin-right: 10px;
  flex: 0 0 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
  -webkit-tap-highlight-color: transparent;
}

.cities-carousel-card-inner {
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  width: 90px;
  height: 150px;
  /* border-radius: 5px; */
}

.cities-carousel-image-container {
  width: 95px;
  height: 115px;
  background: #f5f5f5;
}

.cities-carousel-image {
  width: 95px;
  height: 115px;
}

.cities-carousel-title {
  /* margin-left: 10px; */
  font-family: 'EngraversGothicBold';
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 1.8px;
  padding-top: 5px;
  text-transform: uppercase;
}

.cities-carousel-text {
  padding: 1em;
  font-size: 14px;
  white-space: pre-wrap;
  text-align: left;
  font-family: sans-serif;
}

.cities-container {
    margin-top: 20px;
}

.cities-header {
    font-family: 'EngraversGothicBT', sans-serif;
    /* font-weight: 300; */
    margin-left: 20px;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 1.8px;
    padding-top: 10px;
}