.no-stores-tray {
    z-index: 2000;
    padding: 0;
    margin: 0;
}

.no-stores-tray-container {
    margin-top: -10px;
    height: 190px;
    /* padding-bottom: 30px; */
    /* font-weight: bold;
    font-family: 'EngraversGothicBold'; */
}